/* Write your CSS here */
button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #a3a3a3;
  padding: 10px 0;
  width:120px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
